<div class="msg-box">
  <div class="msg-list-fetching" *ngIf="isFetching">...</div>
  <div class="msg-list">
    <div class="msg-body" *ngFor="let msg of messages">
      <div>author: {{ msg.author }}</div>
      <div>message: {{ msg.message }}</div>
      <div>datetime: {{ msg.datetime }}</div>
    </div>
  </div>
  <div class="msg-form">
    <form (ngSubmit)="postMsg()" #f="ngForm">
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          name="author"
          id="author"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          ngModel
        ></textarea>
      </div>

      <button class="green" type="submit">
        Post
      </button>

    </form>
  </div>
</div>

