.msg-box {
  width: 500px;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  background-color: #ffffff;
}
.msg-list {
  padding: 10px;
}
.msg-body {
  border: 1px solid #cccccc;
  margin-bottom: 6px;
  padding: 10px;
  background-color: azure;
}
.msg-form {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: beige;
  padding: 10px;
  border-top: 1px solid #cccccc;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.msg-list-fetching {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  color: aquamarine;
}
